*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lexend' , sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.navbar nav .logo{
    font-size: 33px;
    color: #fff;
    font-weight: 600;
    text-shadow: 3px 3px 20px orange,
    -2px 1px 30px #514e50;
}

.navbar nav{
    height: 80px;       
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    box-shadow: 0 2px 18px -1px orange;
}

.navbar nav .menu-btn{
    width: 22px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

.navbar nav ul{
    list-style: none;
    display: flex;
}

.navbar nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Euphemia";
    cursor: pointer;
    transition: 0.4s;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar nav ul li{
    margin: 0 5px;          
}

.navbar nav ul li a:hover,
    .navbar nav ul li a.active{
        color: #98e54c;
        background: #fff;
}

.single-menu:hover{
    border-color: #ff7720;
    border-radius: 7px;
}
.single-menu:hover img{
    border-radius: 50%;
}
.single-menu a{
    display: inline-block;
    color: #ff7720;
    text-transform: uppercase;
    margin-top: 25px;
}
.single-menu h4 {
    border-bottom: 1px dashed #ddd;
    margin: 10px 0;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 24px;
}
.single-menu img{
    max-width: 80px;
    border: 1px solid #ddd;
    padding: 3px;
    transition: .3s;

}
.single-menu span{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ff7720;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px 0 0 0;
}
.single-menu {
    background-color: #0b0d0d;
    border: 1px solid #ddd;
    padding: 25px;
    text-align: center;
    position: relative;
    transition: .3s;
    margin-bottom: 30px;
}
.title{
    background-color: #ff7720;
    border: 1px solid #ddd;
    /* color: #0e1111; */
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.menus{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-items{
    flex-basis: 32%;
}

.section-title h4{
    font-family: cursive;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 60px;
}
.section-title h4 span{
    font-family: serif;
}
.section-title{
    text-align: center;
    margin-bottom: 60px;
}


.menus-area::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0e1111;
    z-index: -1;
    opacity: .95;
    left: 0;
    top: 0;
}
.menus-area{
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    padding: 100px 0;
    color: #fff;
}


::-webkit-scrollbar{
    width: 0.833vw;
}

::-webkit-scrollbar-thumb{
    background-color: #ffa366;
    border-radius: 1.667vw;
}









@media only screen and (max-width: 1200px) {
    .container{
        width: 750px;
    }
    .section-title h4 {
        font-size: 37px;
        line-height: 55px;
    }
    .menu-items{
        flex-basis: 50%;
    }
}


@media screen and (max-width: 940px) {
    .navbar nav ul{
        position: fixed;
        top: 65px;
        left: -100%;
        background: #111;
        height: 1000vh;
        width: 100%;
        display: block;
        text-align: center;
        z-index: 3;
    }
    #click:checked ~ ul{
        left: 0%;
        transition: all 0.3s ease;
    }
    .navbar nav ul li{
        margin: 40px 0;
    }
    .navbar nav ul li a{
        font-size: 20px;
        display: block;
    }
    .navbar nav ul li a:hover,
    .navbar nav ul li a.active{
       color: #98e54c;
       background: none;
    }

    .navbar nav .menu-btn{
        display: block;
    }
}


@media only screen and (max-width: 767px) {
    .container{
        width: 350px;
    }
    .section-title h4 {
        font-size: 34px;
        line-height: 50px;
    }
    .menu-items{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}


@media screen and (max-width : 430px) {
    .navbar nav{
        width: 100%;
        height: 50px;       
        padding: 0px 30px 0px 30px;      
    }

    .navbar nav .logo{
        font-size: 30px;
        font-weight: 400;
    }

    .navbar nav .menu-btn{
        width: 20px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
    }

    .navbar nav ul{
        top: 45px;
    }
}

@media only screen and (max-width: 360px) {
    .container{
        width: 175px;
    }
    .section-title h4 {
        font-size: 28px;
        line-height: 45px;
    }
    .menu-items{
        flex-basis: 100%;
    }
    /* .single-menu a{
        margin-top: 10px;
    } */
    .single-menu span{
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 8px 20px 0 20px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 0 0 0 0;
    }
    .single-menu {
        padding-bottom: 35px;
    }
}