@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 100%;
}

.navbar{
    width: 100%;
    z-index: 5;
    position: fixed;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.navbar nav .logo{
    font-size: 33px;
    color: #fff;
    font-weight: 600;
    text-shadow: 3px 3px 20px orange,
    -2px 1px 30px #514e50;
}

.navbar nav{
    height: 80px;       
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    box-shadow: 0 2px 18px -1px orange;
}

.navbar nav .menu-btn{
    width: 22px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

.navbar nav ul{
    list-style: none;
    display: flex;
}

.navbar nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Euphemia";
    cursor: pointer;
    transition: 0.4s;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar nav ul li{
    margin: 0 5px;          
}

.navbar nav ul li a:hover,
    .navbar nav ul li a.active{
        color: #98e54c;
        background: #fff;
}





.section_home{
    width: 100%;
    height: 730px;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.section_home .text{
    position: absolute;
    top: 120px;           
    left: 5%;
}

.section_home .text .word{
    color: #cfcfcf;
    font-size: 14px;
    letter-spacing: 1px;
}

.section_home .text h1{
    font-size: 50px;   /*50px*/
    color: #fff;
    line-height: 65px;
}

.section_home .text h1 span{
    color: orange;
}

.section_home .text .textarea{
    width: 600px;        
    margin-top: 20px;      
    color: #cfcfcf;
    text-align: justify;
    line-height: 25px;     
}

.section_home .text .search_bar{
    width: 400px;
    padding: 0 10px;
    background: #fff;
    margin-top: 28px;        
}

.section_home .text .search_bar input{
    width: 359px;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    padding: 0 5px;
}

.section_home .text .search_bar button{
    position: absolute;
    left: 400px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    background: orange;
    border: 0;
}




/*second*/

.second{
    display: flex;
    padding: 10px 22px;
    background-color: #000;
}

.second .img_card{
  flex: 33.33%;
  padding: 20px;
  position: relative;    
}

.second .img_card:hover{
    transition: transform 0.3s ease;
}

.second .img_card p{
    color: #fff;
    text-align: center;
    z-index: 1;
    font-size: 30px;
    flex: 33.33%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.second .img_card:hover{
    overflow: hidden;
    transform: scale(1.1);
}

.second .img_card img{
    width: 100%;
    opacity: 0.7;
    border-radius: 30px;
    border: 2px solid whitesmoke;
}

/*.second .img_card img:hover{
    transform: scale(1.1);
}*/




/*description_1*/

.description_1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    background-color: #000;
}

.description_1 .d_text{
    padding-left: 5px;
}

.description_1 .d_text h1{
    color: #fff;
    font-size: 70px;
    font-family: 'Fredfont';
    margin-bottom: 25px;
}

.description_1 .d_text .head_title{
    margin-bottom: 15px;
    font-size: 45px;
    color: #98e54c;
}

.description_1 .d_text .desc{
    width: 500px;            /* width: 650px; */
    text-align: left;
    line-height: 38px;
    color: #cfcfcf;
    font-size: 30px;
    margin-bottom: 20px;
}

.description_1 .d_text .dis_btn{
    text-decoration: none;
    color: #000;
    padding: 8px 13px;
    background: #98e54c;
    font-size: 25px;
    border-radius: 15px;
    font-family: "Franklin Gothic Book";
}

.description_1 .dis_img{
    padding-top: 20px;
    width: 620px;        /* width: 620px; */
    height: 550px;      /* height: 620px; */   
    border-radius: 35px;
    overflow: hidden;
}

.description_1 .dis_img img{
    width: 100%;         /*  width: 100%; */
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 35px;
}

/*menu*/

.menu{
    width: 100%;     
    height: auto;
    background: #000;
    padding-top: 25px;
}

.menu h1{
    color: #fff;
    font-family: "Euphemia";
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
}

.menu .m_box{
    width: 100%;                 
    height: auto;
    display: flex;
    padding: 1% 0;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.menu .m_box .m_cards{
    width: 100%;                /* width: 620px; */
    height: 50%;                  /* height: 690px; */
    padding-right: 1vw;
    padding-left: 1vw; 
}

.menu .m_box .m_cards .m_img{
    width: 100%;        /* width: 620px; */
    height: 100%;        /*  height: 620px; */
    border-radius: 35px;
    overflow: hidden;
}

.menu .m_box .m_cards .m_img img{
    width: 100%;          /*  width: 100%; */
    height: 100%;            /*  height: 100%; */
    object-fit: cover;
    object-position: center;
}

.menu .m_box .m_cards h6{
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}

.menu .m_box .m_cards .m_btn{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    background: #98e54c;
    padding: 8px 0;
    font-size: 25px;
    border-radius: 15px;
    font-family: "Franklin Gothic Book";
}


/*banner*/

.banner{
    width: 100%;
    height: 650px;
    background: #000;
    padding-top: 30px;
}

.banner .b_text{
    position: absolute;
    z-index: 1;
}

.banner .b_text h6{
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    top: 340px;
    left: 14%;
    font-size: 20px;
}

.banner .b_text h1{
    color: #fff;
    position: relative;
    top: 345px;
    left: 14%;
    font-size: 50px;
}

.banner .b_text p{
    width: 550px;
    color: #cfcfcf;
    position: relative;
    top: 360px;
    left: 14%;
    font-size: 20px;
    text-align: justify;
    line-height: 26px;
}

.banner .b_text .b_btn{
    width: 130px;
    position: relative;
    top: 390px;
    left: 14%;
    text-decoration: none;
    color: #000;
    background: #98e54c;
    padding: 8px 0;
    font-size: 25px;
    border-radius: 15px;
    padding: 8px 13px;
    font-family: "Franklin Gothic Book";
}

.banner img{
    width: 95%;
    height: 600px;
    display: flex;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    border-radius: 35px;
    opacity: 0.8;
}


/*contact*/

footer{
    width: 100%;
    bottom: 0;
    background:#000;
    color: #fff;
    padding: 50px 0 10px;
    line-height: 30px;
    border: 1px solid white;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2),.col:nth-child(3){
    flex-basis: 15%;
}
.logo-details{
  color: #fff;
  margin-bottom: 50px;
  font-size: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    letter-spacing: 2px;
    position: relative;

}
.mail-id{
    width: fit-content;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fa{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px auto;
}
.copyright{
    text-align: center;
}



::-webkit-scrollbar{
    width: 0.833vw;
}

::-webkit-scrollbar-thumb{
    background-color: #ffa366;
    border-radius: 1.667vw;
}






@media screen and (max-width: 1150px) {
    .description_1{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 20px;
        background-color: #000;
    }
    
    .description_1 .d_text{
        padding-left: 20px;
    }
    
    .description_1 .d_text h1{
        color: #fff;
        font-size: 55px;
        font-family: 'Fredfont';
        margin-bottom: 25px;
    }
    
    .description_1 .d_text .head_title{
        margin-bottom: 15px;
        font-size: 30px;
        color: #98e54c;
    }
    
    .description_1 .d_text .desc{
        width: 400px;            
        text-align: left;
        line-height: 28px;
        color: #cfcfcf;
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .description_1 .d_text .dis_btn{
        text-decoration: none;
        color: #000;
        padding: 8px 13px;
        background: #98e54c;
        font-size: 15px;
        border-radius: 15px;
        font-family: "Franklin Gothic Book";
    }
    
    .description_1 .dis_img{
        padding-top: 20px;
        width: 520px;      
        height: 350px;        
        border-radius: 35px;
        overflow: hidden;
    }
    
    .description_1 .dis_img img{
        width: 100%;        
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 35px;
    }


    .menu .m_box .m_cards .m_btn{
        width: 130px;
        font-size: 20px;
    }
}




@media (min-width: 768px) and (max-width: 1024px) {
    footer .col,
    footer {
      font-size: 14px;
    }
}





@media screen and (max-width: 940px) {
    .section_home{
        height: 550px;
    }
    .navbar nav ul{
        position: fixed;
        top: 65px;
        left: -100%;
        background: #111;
        height: 1000vh;
        width: 100%;
        display: block;
        text-align: center;
    }
    #click:checked ~ ul{
        left: 0%;
        transition: all 0.3s ease;
    }
    .navbar nav ul li{
        margin: 40px 0;
    }
    .navbar nav ul li a{
        font-size: 20px;
        display: block;
    }
    .navbar nav ul li a:hover,
    .navbar nav ul li a.active{
       color: #98e54c;
       background: none;
    }

    .navbar nav .menu-btn{
        display: block;
    }



    .description_1{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 20px;
        background-color: #000;
    }
    
    .description_1 .d_text{
        padding-left: 30px;
    }
    
    .description_1 .d_text h1{
        color: #fff;
        font-size: 30px;
        font-family: 'Fredfont';
        margin-bottom: 25px;
    }
    
    .description_1 .d_text .head_title{
        margin-bottom: 15px;
        font-size: 20px;
        color: #98e54c;
    }
    
    .description_1 .d_text .desc{
        width: 300px;          
        text-align: left;
        line-height: 20px;
        color: #cfcfcf;
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    .description_1 .d_text .dis_btn{
        text-decoration: none;
        color: #000;
        padding: 8px 13px;
        background: #98e54c;
        font-size: 15px;
        border-radius: 15px;
        font-family: "Franklin Gothic Book";
    }
    
    .description_1 .dis_img{
        padding-top: 20px;
        width: 420px;        
        height: 250px;        
        border-radius: 35px;
        overflow: hidden;
    }
    
    .description_1 .dis_img img{
        width: 100%;         
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 35px;
    }


    .banner{
        width: 100%;
        height: 450px;
        background: #000;
        padding-top: 30px;
    }
    
    .banner .b_text{
        position: absolute;
        z-index: 1;
    }
    
    .banner .b_text h6{
        color: #fff;
        letter-spacing: 1px;
        position: relative;
        top: 140px;
        left: 7%;
        font-size: 20px;
    }
    
    .banner .b_text h1{
        color: #fff;
        position: relative;
        top: 145px;
        left: 7%;
        font-size: 40px;
    }
    
    .banner .b_text p{
        width: 550px;
        color: #cfcfcf;
        position: relative;
        top: 160px;
        left: 7%;
        font-size: 20px;
        text-align: justify;
        line-height: 26px;
    }
    
    .banner .b_text .b_btn{
        width: 130px;
        position: relative;
        top: 190px;
        left: 7%;
        text-decoration: none;
        color: #000;
        background: #98e54c;
        padding: 8px 0;
        font-size: 20px;
        border-radius: 15px;
        padding: 8px 13px;
        font-family: "Franklin Gothic Book";
    }
    
    .banner img{
        width: 95%;
        height: 400px;
        display: flex;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
        border-radius: 35px;
        opacity: 0.8;
    }
}

@media screen and (max-width : 770px) {
    .description_1{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .description_1 .d_text{
        padding-left: 5px;
    }
    
    .description_1 .d_text h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    
    .description_1 .d_text .head_title{
        margin-bottom: 15px;
        font-size: 30px;
    }
    
    .description_1 .d_text .desc{
        width: 520px;          
    }
    
    .description_1 .dis_img{
        width: 520px;      
        height: 350px;         
    }





    .menu .m_box .m_cards .m_btn{
        width: 80px;
        font-size: 10px;
    }
    .menu .m_box .m_cards h6{
        font-size: 15px;
    }




    .second{
        flex-direction: column;
    }
    
    .second .img_card{
      padding: 45px 45px 5px 45px;   
    }
    
    .second .img_card p{
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    footer .row {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
    footer .logo-name{
      width: 90%;
    }
    footer {
      position: unset;
    }
    .col{
        padding: 10px 10px 30px 10px;
    }
    .logo-details{
        margin-bottom: 30px;
    }
    .col h3{
        margin-bottom: 25px;
    }
}


@media screen and (max-width : 640px) {
    html{
        font-size: 90%;
    }

    .section_home{
        height: 550px;
    }

    .section_home .text{
        top: 100px;            /* 120 */
        left: 4%;
    }
    
    .section_home .text .word{
        font-size: 10px;
    }
    
    .section_home .text h1{
        font-size: 40px;  
        line-height: 50px;
    }
    
    .section_home .text .textarea{
        margin-top: 15px;      
        width: 300px;
    }
    
    .section_home .text .search_bar{
        width: 300px;
        padding: 0 10px;
        margin-top: 22px;        
    }
    
    .section_home .text .search_bar input{
        width: 259px;
        height: 35px;
    }
    
    .section_home .text .search_bar button{
        left: 300px;
        height: 35px;
    }

    .banner{
        width: 100%;
        height: 450px;
        background: #000;
        padding-top: 30px;
    }
    
    .banner .b_text{
        position: absolute;
        z-index: 1;
    }
    
    .banner .b_text h6{
        width: 400px;
        color: #fff;
        letter-spacing: 1px;
        position: relative;
        top: 80px;
        left: 7%;
        font-size: 15px;
    }
    
    .banner .b_text h1{
        width: 400px;
        color: #fff;
        position: relative;
        top: 85px;
        left: 7%;
        font-size: 40px;
    }
    
    .banner .b_text p{
        width: 400px;
        color: #cfcfcf;
        position: relative;
        top: 100px;
        left: 7%;
        font-size: 20px;
        text-align: justify;
        line-height: 26px;
    }
    
    .banner .b_text .b_btn{
        width: 130px;
        position: relative;
        top: 130px;
        left: 7%;
        text-decoration: none;
        color: #000;
        background: #98e54c;
        padding: 8px 0;
        font-size: 15px;
        border-radius: 15px;
        padding: 8px 13px;
        font-family: "Franklin Gothic Book";
    }
    
    .banner img{
        width: 95%;
        height: 400px;
        display: flex;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
        border-radius: 35px;
        opacity: 0.8;
    }
    
}



@media screen and (max-width : 540px){
    .description_1{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .description_1 .d_text{
        padding-left: 5px;
    }
    
    .description_1 .d_text h1{
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    .description_1 .d_text .head_title{
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .description_1 .d_text .desc{
        width: 300px;          
    }
    
    .description_1 .dis_img{
        width: 300px;      
        height: 250px;         
    }
}


@media (orientation: landscape) and (max-height: 500px) {
    footer {
      position: unset;
    }
}

@media screen and (max-width : 450px) {
    .banner{
        width: 100%;
        height: 450px;
        background: #000;
        padding-top: 30px;
    }
    
    .banner .b_text{
        position: absolute;
        z-index: 1;
    }
    
    .banner .b_text h6{
        width: 250px;
        color: #fff;
        letter-spacing: 1px;
        position: relative;
        top: 80px;
        left: 7%;
        font-size: 15px;
    }
    
    .banner .b_text h1{
        width: 250px;
        color: #fff;
        position: relative;
        top: 85px;
        left: 7%;
        font-size: 30px;
    }
    
    .banner .b_text p{
        width: 250px;
        color: #cfcfcf;
        position: relative;
        top: 100px;
        left: 7%;
        font-size: 20px;
        text-align: justify;
        line-height: 26px;
    }
    
    .banner .b_text .b_btn{
        width: 130px;
        position: relative;
        top: 130px;
        left: 7%;
        text-decoration: none;
        color: #000;
        background: #98e54c;
        padding: 8px 0;
        font-size: 15px;
        border-radius: 15px;
        padding: 8px 13px;
        font-family: "Franklin Gothic Book";
    }
    
    .banner img{
        width: 95%;
        height: 400px;
        display: flex;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
        border-radius: 35px;
        opacity: 0.8;
    }



    
    .second .img_card{
      padding: 25px 25px 5px 25px;   
    }
    
    .second .img_card p{
        font-size: 25px;
    }
}



@media screen and (max-width : 430px) {
    
    html{
        font-size: 70%;
    }

    .section_home{
        height: 400px;
    }

    .navbar nav{
        width: 100%;
        height: 50px;       
        padding: 0px 30px 0px 30px;      
    }

    .navbar nav .logo{
        font-size: 30px;
        font-weight: 400;
    }

    .navbar nav .menu-btn{
        width: 20px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
    }

    .navbar nav ul{
        top: 45px;
    }
    
    
    .section_home .text{
        top: 80px;          
    }
    
    .section_home .text .word{
        font-size: 10px;
        letter-spacing: 1px;
    }
    
    .section_home .text h1{
        font-size: 25px;   
        line-height: 30px;
    }
    
    .section_home .text .textarea{
        width: 250px;        
        margin-top: 15px;       
        line-height: 18px;      
    }
    
    .section_home .text .search_bar{
        width: 200px;
        padding: 0 10px;
        margin-top: 20px;       
    }
    
    .section_home .text .search_bar input{
        width: 159px;
        height: 25px;
        padding: 0 5px;
    }
    
    .section_home .text .search_bar button{
        position: absolute;
        left: 200px;
        width: 70px;
        height: 25px;
        cursor: pointer;
        background: #98e54c;
        border: 0;
    }
    
    .menu .m_box{
        flex-direction: column;
    }
    
    .menu .m_box .m_cards{
        width: 300px;                
        height: 50%;                  
        padding-bottom: 5px;
    }
    
    .menu .m_box .m_cards h6{
        font-size: 15px;
    }
    
    .menu .m_box .m_cards .m_btn{
        width: 110px;
        font-size: 15px;
        border-radius: 15px;
    }
}